<nav class="navbar navbar-expand-lg navbar-light bg-light px-2 py-1">
  <a class="navbar-brand" href="#">Todo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">About</a>      
    </div>
  </div>
  <form class="form-inline">
    <button class="btn btn-outline-danger mx-2 my-sm-0" type="submit">Sign in</button>
    <button class="btn btn-danger mx-2 my-sm-0" type="submit">Sign Up</button>
  </form>
</nav>
<div class="container">
  <app-todos></app-todos>
</div>